<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='title.jpg') }}" alt="Company name">

        <nav>
            <ul>
                <li><a href="{{ url_for('download_policy') }}">Download Reimbursement Policy</a></li>
                <li><a href="{{ url_for('home') }}">Home</a></li>  
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Welcome to Admin Dashboard</h1>
        <div>
            
            <ul>
                <li><a href="{{ url_for('pending_user_registration') }}">Pending User Registration</a></li>
                <li><a href="{{ url_for('reimbursement_request_tracking') }}">Reimbursement Request Tracking</a></li>
                <li><a href="{{ url_for('manage_users') }}">Manage Users</a></li>
                <li><a href="{{ url_for('manage_departments') }}">Manage Departments</a></li>
            </ul>
        </div>
    </div>
    <a class= "container2" href="{{ url_for('logout') }}">Logout</a>

</body>
</html>
