<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='title.jpg') }}" alt="Company name">

        <nav>
            <ul>
                <li><a href="{{ url_for('download_policy') }}">Download Reimbursement Policy</a></li>

                <li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Manager Dashboard</h1>
        <ul>
            <li><a href="{{ url_for('pending_requests') }}">Pending Reimbursement Requests</a></li>
            <li><a href="{{ url_for('approved_requests') }}">Approved Requests</a></li>
            <li><a href="{{ url_for('rejected_requests') }}">Rejected Requests</a></li>
        </ul>
    </div>    
    <a  class="container2" href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
